html{
	height:100%;
}
body{
	background:linear-gradient(navy, #6c2463); 
	margin:0px;
	font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}
.adelante0{
	font-size: 40px;
	color:white;
	font-family: helvetica;
}
.adelante1{
	font-size: 40px;
	color:white;
	font-family: arial;
}
.adelante2{
	font-size: 40px;
	color:white;
	font-family: garamond;
}
.adelante3{
	font-size: 40px;
	color:white;
	font-family: bodoni;
}
.adelante4{
	font-size: 40px;
	color:white;
	font-family: "Book Antiqua";
}
.adelante5{
	font-size: 40px;
	color:white;
	font-family: Impact;
}
.adelante6{
	font-size: 40px;
	color:white;
	font-family: Verdana;
}